.table thead th {
	text-align: initial;
}
.table th {
	border-top: 0px solid #eceeef;
}
.profile-icon {
	float: right;
}
.profile-name {
	padding-left: 6px;
	color: #666f7b;
	font-size: 15px;
}
.p-white{
	color:white !important;
	font-weight: bold !important;
}
.m-t-35 {
	margin-top: 35px !important;
}
.card-box h4 {
	text-transform: uppercase;
	letter-spacing: 0.02em;
	font-size: 16px;
}
.card-box .wigdet-four-content h4, .member-card-alt-info h4 {
	text-transform: capitalize;
	letter-spacing: 0.02em;
}
.social-links .tooltips i {
	line-height: 26px;
}
.m-b-3 {
	margin-bottom: 3px;
}
.bgv-icon {
	background: #ff9f02;
	color: #fff !important;
	border: 0;
	border-radius: 50%;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	text-align: center;
	width: 30px;
	font-weight: bold;
	font-size: 17px;
}
.mesg-icon {
	background: #f18038;
	color: #fff !important;
	border: 0;
	border-radius: 50%;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	text-align: center;
	width: 30px;
	font-weight: bold;
	font-size: 17px;
}
.view-icon {
	background: #34d3eb;
	color: #fff !important;
	border: 0;
	border-radius: 50%;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	text-align: center;
	width: 30px;
	font-weight: bold;
	font-size: 17px;
}
.accept-icon {
	background: #57bb57;
	color: #fff !important;
	border: 0;
	border-radius: 50%;
	display: inline-block;
	height: 30px;
	line-height: 31px;
	text-align: center;
	width: 30px;
	font-weight: bold;
	font-size: 19px;
}
.mce-menubar {
	border: 1px solid rgba(217,217,217,0.52);
	display: none !important;
}
.form-group {
	margin-bottom: 10px;
}
.geo-loaction-mp {
	border: 1px solid #eee;
	border-radius: 2px;
	padding: 7px;
}
.submit-btn {
	text-align: right;
	padding-right: 20px;
}
.breadcrumb .btn-custom {
	background-color: #43909f;
	border-color: #43909f;
}
.delete-nitifi {
	color: #f8515d;
	font-size: 18px;
}
.table-action-btn {
	color: #98a6ad;
	display: inline-block;
	width: 28px;
	border-radius: 50%;
	text-align: center;
	line-height: 24px;
	font-size: 20px;
}
.tbl-text-overflow {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 0;
}
.serv-fil-down {
	padding: 0;
	list-style-type: none;
}
.serv-fil-down li {
	float: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.serv-fil-down li a {
	color: #32c861 !important;
	font-size: 15px;
	padding: 7px 14px;
	outline: none !important;
	padding-left: 0;
	font-family: "Nunito Sans", sans-serif;
}
.agreement-fa i {
	font-size: 20px;
	vertical-align: sub;
}
.bdr {
	border: 1px solid #eee;
}
.agentdis .search-result-box .tab-content {
	padding: 10px 0;
}
.agentdis .search-result-box .tab-content .card-box {
	padding: 10px;
	border-width: 1px;
}
.second-profiles {
	width: 150px;
	height: 150px;
}
.second-profiles-details .details-dec {
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 0%;
	-ms-flex: 1 1 0%;
	flex: 1 1 0%;
	margin-top: 20px;
	margin-left: 26%;
}
.send-btn {
	margin-top: 30px;
	background-color: #43909f;
	border-color: #43909f;
}
.count ul {
	padding: 0;
}
.count li {
	list-style-type: none;
	float: left;
	padding: 5px 20px;
	text-align: center;
	font-size: 18px;
	border: 1px solid #eee;
	border-bottom: 0;
}
.count li:nth-child(2) {
	border-left: 0;
	border-right: 0;
}
.count p {
	margin: 0;
	font-size: 15px;
	line-height: 8px;
	margin-bottom: 8px;
}
.second-profiles-details hr {
	margin-top: 0;
}
.buying-selling.active {
	background: #7BB712;
	border-color: #7BB712;
}
.buying-selling {
	width: 100%;
	position: relative;
	border-radius: 2px;
	font-size: 14px;
	padding: 7px 14px;
	border: 1px solid #eee;
	text-align: left;
}
.buying-selling-word {
	font-size: 15px;
	font-weight: 600;
	margin-left: 20px;
}
.radio-dot:before, .radio-dot:after {
	content: "";
	display: block;
	position: absolute;
	background: #fff;
	border-radius: 100%;
}
.radio-dot:before {
	width: 20px;
	height: 20px;
	border: 1px solid #ccc;
	top: 6px;
	left: 16px;
}
.radio-dot:after {
	width: 12px;
	height: 12px;
	border-radius: 100%;
	top: 10px;
	left: 20px;
}
.buying-selling.active .buying-selling-word {
	color: #fff;
}
.buying-selling.active .radio-dot:after {
	background: #426C2A;
}
.buying-selling.active .radio-dot:before {
	background: #fff;
	border-color: #699D17;
}
.buying-selling:hover .radio-dot:before {
	border-color: #adadad;
}
.buying-selling.active:hover .radio-dot:before {
	border-color: #699D17;
}
.buying-selling.active .radio-dot:after {
	background: #426C2A;
}
.buying-selling:hover .radio-dot:after {
	background: #e6e6e6;
}
.buying-selling.active:hover .radio-dot:after {
	background: #426C2A;
}

@media (max-width: 400px) {
.mobile-br {
	display: none;
}
.buying-selling {
	width: 49%;
	padding: 10px;
	position: relative;
}
}
.cf:before, .cf:after {
	content: " ";
	display: table;
}
.cf:after {
	clear: both;
}
.cf {
 *zoom: 1;
}
/* FORM */

.form .plan input, .form .payment-plan input, .form .payment-type input {
	display: none;
}
.form label {
	position: relative;
	color: #313a46;
	background-color: transparent;
	font-size: 17px;
	text-align: center;
	width: 150px;
	/* height: 150px; */
	/* line-height: 50px; */
	display: block;
	cursor: pointer;
	border: 2px solid #eee;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	border-radius: 2px;
}
.form .plan input:checked + label, .form .payment-plan input:checked + label, .form .payment-type input:checked + label {
	border: 2px solid #2fcc71;
}
.form .plan input:checked + label:after, form .payment-plan input:checked + label:after, .form .payment-type input:checked + label:after {
	content: "\2713";
	width: 30px;
	height: 30px;
	line-height: 27px;
	border-radius: 100%;
	border: 2px solid #2fcc71;
	background-color: #2fcc71;
	z-index: 999;
	position: absolute;
	top: -10px;
	right: -10px;
	color: #fff;
	font-size: 15px;
}
.pay-type {
	padding: 0;
	margin: 0 auto;
	list-style-type: none;
	display: table;
}
.pay-type li {
	float: left;
	padding: 5px;
}
.pay-name {
	display: block;
	margin-bottom: 10px;
}
.iform {
	width: 100%;
	height: 50vh;
}
.batchtable-clp>.batch-list {
	padding: 20px 0;
	position: relative;
}
.batchtable-clp>.Early-Bird-Offer-box>.batch-list, .batchtable-clp>.batch-list {
	cursor: pointer;
	background: #fff;
	webkit-box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
	box-shadow: 5px 5px 20px 0 rgba(46,61,73,.2);
	margin: 20px 0;
}
.Early-Bird-Offer-box, .align-item-center, .self-paced-clp-price {
	align-items: center;
	display: flex;
}
.batch-list>div {
	display: flex;
	align-items: center;
}
.date-clp-batch>article {
	background: #fff;
	border: 1px solid #e0e0e0;
	color: #444;
	font-size: 14px;
	font-weight: 900;
	line-height: 13px;
	margin: 0 auto;
	padding: 4px 0;
	text-align: center;
	width: 38px;
}
.date-clp-batch>article>p {
	margin-bottom: 0;
}
.date-clp-batch>article>span {
	color: #afafaf;
	font-size: 10px;
	font-weight: 600;
	text-transform: uppercase;
}
.no-padding {
	padding-left: 0;
	padding-right: 0;
}
.dayandtime-clp-batch {
	color: #777;
	font-size: 16px;
}
.border-right-day {
	border-right: 2px solid #ddd;
}
.days-time-table {
	padding-left: 20px!important;
}
.dayandtime-clp-batch>.day>span {
	color: #444;
	font-size: 16px;
	font-weight: 500;
}
.batch-time-tables {
	padding-left: 16px;
}
.batch-time-tables {
	text-align: center;
}
.offerandprice-clp {
	color: #555;
	font-size: 12px;
	font-weight: 900;
	text-align: center;
}
.offerandprice-clp>.main-price {
	color: #777;
	font-size: 12px;
	text-align: right;
	padding-right: 0;
	font-weight: 500;
	padding-top: 1px;
	text-decoration: line-through!important;
}
.batch-list>div {
	display: flex;
	align-items: center;
}
.left-panel-padding {
	padding-left: 0;
}
.finalprice-select-clp>.afterprice {
	color: #222;
	font-size: 16px;
	font-weight: 900;
	padding-right: 10px;
}
.finalprice-select-clp>.afterprice>i {
	font-size: 13px;
	margin-right: -5px;
}
.select-tick {
	display: none;
}
.edit-card {
	font-size: 22px;
	color: #32c861;
}
.delete-card {
	font-size: 22px;
	color: #f96a74;
}
#wrp {
	width: 1120px;
	float: left;
}
#wrp ul {
	width: 200px;
	height: 300px;
	list-style: none;
	margin: 10px;
	padding: 20px;
	float: left;
	background: #EEE;
}
#wrp ul li {
	display: block;
	width: 166px;
	height: 20px;
	padding: 5px 10px;
	margin: 2px;
	background: #EEE;
	border: solid 5px #DDD;
}
#wrp ul .title {
	display: block;
	padding: 5px 10px;
	text-align: center;
	font-weight: bold;
}
#wrp ul.to {
	width: 800px;
	height: 150px;
}
#wrp ul.to li {
	float: left;
}
#wrp ul.to li.plh {
	height: 20px;
	border: none;
	padding: 6px 11px;
	border: dotted 4px #DDD;
}
#wrp ul li.dragging {
	border-color: #990000;
	opacity: 0.8;
}
.profile-save .navbar-custom {
	background-color: #343c49;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	height: 44px;
}
.signature .form-group {
	padding-bottom: 20px;
}
.date-left {
	float: left;
}
.date-right {
	float: right;
}
.add-name [type=button] {
	margin-bottom: 2px;
	    padding: 1px 2px;
    background: none;
    border-radius: 2px;
    color: #3fc45e;
    font-size: 11px;
	font-weight: 500;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	cursor: pointer;
	display: flex;
	align-items: center;
	/* -webkit-box-shadow: 0 0 0 0.5px rgba(49,49,93,0.03), 0 2px 5px 0 rgba(49,49,93,0.1), 0 1px 2px 0 rgba(0,0,0,0.08); */
    /* box-shadow: 0 0 0 0.5px rgba(49,49,93,0.03), 0 2px 5px 0 rgba(49,49,93,0.1), 0 1px 2px 0 rgba(0,0,0,0.08); */
	-webkit-transition: background 0.2s ease;
	transition: background 0.2s ease;
	border: 1px solid #ddd;
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
#cke_46, #cke_45, #cke_44, #cke_51, #cke_52, #cke_53, #cke_54, #cke_55, #cke_70, #cke_71, #cke_72, #cke_73, #cke_76, #cke_78, #cke_79, #cke_81, #cke_82, #cke_90, #cke_91 {
	display: none;
}
.no-border {
	border-top: 0px !important;
	padding: 0px 5px !important;
}
#v-requested .collapse.show {
	padding-bottom: 10px;
}
.list-box {
	background: #ffffff;
	box-shadow: 0 2px 4px #e3ecee;
	margin: 0;
	padding: 5px;
	position: inherit;
	margin-bottom: 10px;
	border-top: 1px solid #e3ecee;
}
.list-box p {
	margin: 0;
}
.p-5 {
	padding: 0 !important;
}
.pay-now .card-box {
	padding: 0;
}
.pay-now .amount-sec {
	background: #57bb57;
	color: #fff;
	padding: 6px 14px;
}
.pay-now h5 {
	margin: 5px 0;
	color: #fff;
}
.pay-now p {
	margin-bottom: 0;
}
.pay-now .card-dtl {
	padding: 20px 40px;
}
.bref-detail {
	padding: 10px 10px;
	background: #f6f6f6;
}
.bref-detail label {
	margin: 0;
	padding: 0;
}
.payment-warp {
	padding: 50px 150px;
}
.my-proprty li {
list-style-type: none;
}
.my-proprty .btn-custom{
	background-color: #43909f;
	border-color: #43909f;
}
.check-color {
color: #32c861;
}
.bgv-download {
    float: left;
}
.bgv-bg {
background: #51bea8
}
.fixed-action-btn {
   position: fixed;
    right: 6%;
    top: 68%;
    padding-top: 15px;
    margin-bottom: 0;
    z-index: 998;
}


.btn-floating.btn-large {
    width: 40px;
    height: 40px;
}
.btn-floating {
    display: inline-block;
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    background-color: #26a69a;
    border-radius: 50%;
    transition: .3s;
    cursor: pointer;
    vertical-align: middle;
}


.btn-floating.btn-large i {
    line-height: 38px;
}
.btn-large i {
    font-size: 1.6rem;
}
.btn-floating i {
    width: inherit;
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: 20px;
    line-height: 40px;
}
.custome-temp {
    position: fixed;
    z-index: 999;
    background: rgb(255, 255, 255);
    right: 9%;
    display: block;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid rgb(227, 236, 238);
    border-radius: 3px;
    top: 50%;
	width: 25%;
}
.custome-temp .card .card-header {
padding: 7px;
border: 0 !important;
    text-align: left;
}
.custome-temp .card .card-block {
padding: 10px;

}
.font-blk {
    color: #fff !important;
}

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
     margin: 0;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 

/* Start Review Section CSS*/

.search-result-box .media-left {
	padding-right: 10px;
}
.search-result-box .img-circle {
    border-radius: 50%;
}
.rat-check {
	    color: #FFD700 !important;
}
.search-result-box .rating > input:checked ~ label, /* show gold star when clicked */
.search-result-box .rating:not(:checked) > label:hover, /* hover current star */
.search-result-box .rating:not(:checked) > label:hover ~ label { color: #ddd;  } /* hover previous stars in list */
.search-result-box .rating > input:checked + label:hover, /* hover current star when changing rating */
.search-result-box .rating > input:checked ~ label:hover,
.search-result-box .rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.search-result-box .rating > input:checked ~ label:hover ~ label { color: #ddd;  } 

/* End Review Section CSS*/

/* popup background verification */
.black_overlay {
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: .80;
  filter: alpha(opacity=80);
}
.white_content {
    display: none;
	position: absolute;
    top: 100%;
     left: -100%; 
    width: 100%;
    height: 100%;
    padding: 65px;
    border: 2px solid #06d85f;
    background-color: white;
    z-index: 1002;
    border-radius: 5px;
    overflow: auto;
}
.regBtn {
  font-size: 1em;
      padding: 4px;
    color: #333;
    border: 1px solid #06D85F;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
   background-color: #cecece;
}
.regBtn:hover {
  background: #fff;
}
#light p {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
  font-align:center;
}
