body .tz-Breadcrumb .tzOverlayBreadcrumb {
	padding-top: 60px;
}
body .tz-Breadcrumb .tzOverlayBreadcrumb {
	padding-bottom: 60px
}
body .tz-Breadcrumb {
	background-image: url("../images/breadcrumb.jpg")
}
body .tz-partner {
	padding-top: 60px
}
body .tz-partner {
	padding-top: 60px
}
body .tz-partner {
	background-image: url("../images/partner-bk.jpg")
}
body .tz-footer {
	background-image: url("../images/bk-footer.jpg")
}
body .tz-error {
	background-image: url("../images/404-bk_2.jpg")
}
.tz-footer .widget.widget_newsletterwidget .tnp-widget form label {
	display: none;
}
.tz-footer .widget.widget_newsletterwidget .tnp-widget form .newsletter-submit, .tz-footer .widget.widget_newsletterwidget .tnp-widget form .tnp-submit {
	background: transparent;
	height: 40px;
	padding: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 50px;
	text-indent: -9999px;
	z-index: 111;
	border: none;
}
.wpb_animate_when_almost_visible {
	opacity: 1;
}

	ul#price-t-5, ul#price-t-5 h2, ul#price-t-5 h3{font-family: 'roboto', sans-serif !important;text-align: center}
	ul#price-t-5 li h2{ font-weight:400 !important; font-size: 20px; line-height:normal !important;text-align: center}
	ul#price-t-5 li h3{ font-weight:100;line-height:normal !important}
	
	ul#price-t-5{text-align:center;width:100% !important; position:relative; display:inline-block; margin:0 auto; padding:0; list-style:none; z-index:9; }
ul#price-t-5, ul#price-t-5 h2, ul#price-t-5 a{
  border:none !important;
  text-decoration: none;
}
ul#price-t-5:hover { margin-top:-10px; box-shadow: 5px 0px 30px rgba(0,0,0,0.5);
	-webkit-box-shadow: 5px 0px 30px rgba(0,0,0,0.5);
	-moz-box-shadow: 5px 0px 30px rgba(0,0,0,0.5);  z-index:99;  }
ul#price-t-5:hover ul li{padding:12px 0}
ul#price-t-5 h2 {
	margin:0;
	color:#fff !important;
	padding:10px 0;
	background-color: #16A085 !important;
}
ul#price-t-5 h3 span{ font-size:14px; display:block; font-weight:normal;color:#fff !important; font-family:arial}
ul#price-t-5 h3  {
	color: #fff !important;
	font-size:48px;
	margin:0;	
	text-align:center;padding:10px 0;
	border-top: 1px solid #16A085;
	border-bottom: 1px solid #16A085;
	background-color: #2ABB9B !important;
 }
ul li {
	list-style: none;
}
ul#price-t-5.even ul li.odd{background:#e3e3e3 !important;text-align: center}
ul#price-t-5.even ul li.even{background:#f6f6f6 !important;text-align: center}
ul#price-t-5 ul{ padding:0; margin:0}
ul#price-t-5 ul li{ list-style:none; padding:10px 0; font-family:arial !important; font-size:12px; text-transform:capitalize; color:#444; margin:0;word-wrap: break-word;}
ul#price-t-5 ul li.odd{ background:#ebebeb !important;text-align: center}
ul#price-t-5 ul li.even{ background:#ffffff !important;text-align: center}

ul#price-t-5 .submit-btn{
width: 100%;

padding: 10px 0 !important;
float: left;
text-align: center;
border-top: 3px solid #2ABB9B;
border-bottom: none;
background-color: #2ABB9B !important;
background-image: linear-gradient(top, #f6f6f6, #d0d0d0) !important;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#d0d0d0') !important;
-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#d0d0d0') !important;
background: -ms-linear-gradient(top, #f6f6f6, #d0d0d0) !important;
background: -moz-linear-gradient(top, #f6f6f6, #d0d0d0) !important;
background: -o-linear-gradient(top, #f6f6f6, #d0d0d0) !important;
background: -webkit-linear-gradient(top, #f6f6f6, #d0d0d0) !important;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f6f6f6), color-stop(1, #d0d0d0)) !important;
}
ul#price-t-5 li{ padding:0;margin:0;list-style: none}
ul#price-t-5 .submit-btn a{
font-family:arial !important; font-size:14px; text-transform:uppercase;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
color:#444;
text-decoration:none;
width: 120px;
padding: 6px 0px 6px 0px !important;
display: block;
text-align: center;
margin-left: auto;
margin-right: auto;
border: 1px solid #2ABB9B;
color:#fff;
text-shadow:none;
background: #2ABB9B; /* background color for non-css3 browsers */
outline: none;
/* gradient */
/* shadow */
box-shadow: 0px 1px 0px rgba(255,255,255,0.5);
-webkit-box-shadow: 0px 1px 0px rgba(255,255,255,0.5);
-moz-box-shadow: 0px 1px 0px rgba(255,255,255,0.5);
}

ul#price-t-5:hover .submit-btn a{
	padding: 6px 0px 6px 0px !important;
	text-shadow: 0px 1px 0px #ffffff; /* text shadow for firefox 3.6+ */ 
	border: 1px solid #2ABB9B;
	color:#fff;
	text-shadow:none;
	background: #2ABB9B; /* background color for non-css3 browsers */
	outline: none;
	/* gradient */
	/* shadow */
	box-shadow: 0px 1px 0px rgba(255,255,255,0.5);
	-webkit-box-shadow: 0px 1px 0px rgba(255,255,255,0.5);
	-moz-box-shadow: 0px 1px 0px rgba(255,255,255,0.5);
	}
	@media (min-width:320px) and (max-width:480px)  {
		ul#price-t-5 .submit-btn a{
			width: 60px;
			font-size: 10px;
		}
		ul#price-t-5 li h2{
			font-size: 14px;

		}
		ul#price-t-5 li h3{
			font-size: 25px
		}
	}