img.wp-smiley, img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
body .tz-Breadcrumb .tzOverlayBreadcrumb {
	padding-top: 105px
}
body .tz-Breadcrumb .tzOverlayBreadcrumb {
	padding-bottom: 120px
}
.tz-footer .widget.widget_newsletterwidget .tnp-widget form label {
	display: none;
}
.tz-footer .widget.widget_newsletterwidget .tnp-widget form .newsletter-submit, .tz-footer .widget.widget_newsletterwidget .tnp-widget form .tnp-submit {
	background: transparent;
	height: 40px;
	padding: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 50px;
	text-indent: -9999px;
	z-index: 111;
	border: none;
}
.vc_custom_1465522279863 {
	background-color: #4390a0 !important;
}
.vc_custom_1465523336236 {
	padding-bottom: 30px !important;
}
.vc_custom_1465525597172 {
	padding-bottom: 90px !important;
}
.vc_custom_1466569792560 {
	margin-bottom: 30px !important;
	padding-top: 60px !important;
	padding-bottom: 50px !important;
}
.wpb_animate_when_almost_visible {
	opacity: 1;
}