img.wp-smiley, img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
body .tz-Breadcrumb .tzOverlayBreadcrumb {
	padding-top: 105px
}
body .tz-Breadcrumb .tzOverlayBreadcrumb {
	padding-bottom: 120px
}
body .tz-Breadcrumb {
	background-image: url("../images/breadcrumb.jpg")
}
body .tz-partner {
	padding-top: 60px
}
body .tz-partner {
	padding-top: 60px
}
body .tz-partner {
	background-image: url("../images/partner-bk.jpg")
}
body .tz-footer {
	background-image: url("../images/bk-footer.jpg")
}
body .tz-error {
	background-image: url("../images/404-bk_2.jpg")
}
.tz-footer .widget.widget_newsletterwidget .tnp-widget form label {
	display: none;
}
.tz-footer .widget.widget_newsletterwidget .tnp-widget form .newsletter-submit, .tz-footer .widget.widget_newsletterwidget .tnp-widget form .tnp-submit {
	background: transparent;
	height: 40px;
	padding: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 50px;
	text-indent: -9999px;
	z-index: 111;
	border: none;
}
.wpb_animate_when_almost_visible {
	opacity: 1;
}
.tz-sidebar-right .search-border input:hover, .tz-sidebar-right .search-border select:hover, .tz-sidebar-right .search-border input:active, .tz-sidebar-right .search-border select:active, .tz-sidebar-right .search-border input:focus, .tz-sidebar-right .search-border select:focus {
	border-color: #27ae60;
	color: #8d959a !important;
}